body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

#logo{
   text-align: center;
   margin-top: 20px;
}

.left img, .right img{
    max-width: 90%;
    
}
.content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
}

.left{
    flex: 1;
    padding: 20px;
}

.right{
    flex: 1;
    padding: 20px;
}

