:root {
  --primary: #1e463b;
  --secondary: #3c806d;
  --muda: #e2ede9;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
  border: none;
}

body {
  font-family: "Poppins", "sans-Serif";
  background-color: var(--muda);
  color: var(--primary);
}

/*navbar*/
.logo {
  width: 130px;
  height: auto;
  margin-left: 10px;
}

.navigationn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  padding-right: 40px;
  background-color: var(--primary);
  position: fixed;
  width: 100%;
}

.navbar-menu {
  color: var(--muda);
}

.navbar-menu a {
  color: #e2ede9;
  padding: 15px;
  font-weight: 500;
}

.navbar-menu a:hover {
  color: #3c806d;
}

.navbar-menu a.btn-active {
  color: #4af3b5;
}

.login {
  background-color: #4af3b5;
  border: 1px solid #4af3b5;
  border-radius: 5px;
  color: var(--primary);
  padding: 5px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  text-decoration: none;
  font-family: "Poppins";
}

.login:hover {
  background-color: #37a77d;
  color: var(--muda);
}

.register {
  background-color: var(--primary);
  border: 1px solid #4af3b5;
  border-radius: 5px;
  color: var(--muda);
  padding: 5px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  text-decoration: none;
  font-family: "Poppins";
}

.register:hover {
  background-color: #37a77d;
}

/*home*/
.slide img {
  width: 100%;
  height: auto;
  padding-top: 60px;
}

/* about us */
.about {
  padding: 90px 20px;
}

.about .row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 0px 90px;
}

.about .row img {
  flex: 1 1 20rem;
  width: 450px;
}

.about .row .content {
  flex: 1 1 40rem;
  padding: 50px;
  text-align: center;
  padding-top: 0px;
}

.about .row .content .judul {
  font-size: 80px;
  font-weight: 500;
  color: #1e463b;
}

.about .row .content button {
  background: #1e463b;
  color: #e2ede9;
  text-decoration: none;
  border: 2px solid transparent;
  font-weight: bold;
  padding: 13px 30px;
  border-radius: 30px;
  transition: 0.4s;
  margin: 30px;
}

.about .row .content button:hover {
  background: transparent;
  border: 2px solid #1e463b;
  color: #1e463b;
  cursor: pointer;
}

/*products*/
.products {
  padding: 90px;
}

/*customers*/
.customers {
  padding: 90px;
}
